.changePassword {
    max-width: 25rem;
    margin: 2rem auto;
    border-radius: 6px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    padding: 1rem;
    background-color: #f4f4f4;
    text-align: center;
  }
  
  .control {
    margin-bottom: 1rem;
  }
  
  .control label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .control input {
    display: block;
    width: 100%;
    border: 1px solid #ccc;
    font: inherit;
    border-radius: 4px;
    padding: 0.25rem;
  }
  
  .actions {
    margin-top: 1rem;
  }
  
  .actions button {
    font: inherit;
    cursor: pointer;
    color: white;
    background-color: #ff0055;
    border: 1px solid #ff0055;
    border-radius: 4px;
    padding: 0.5rem 2rem;
  }
  
  .actions button:hover,
  .actions button:active {
    background-color: #ff3366;
    border-color: #ff3366;
  }
  